<div>
  <h2>Home Component</h2>
  <button mat-raised-button color="primary" (click)="addItem()">
    Add Random Item <mat-icon>add</mat-icon>
  </button>
  @if(successMessage){
  <div
    class="success"
    (click)="closeMessage()"
    autoHideMsg
    [show]="showAddMsg"
    [hideAfter]="3000"
  >
    {{ successMessage }}
    <button mat-icon-button (click)="successMessage = ''">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  } @if(removedMessage){
  <div
    class="removed"
    (click)="closeMessage()"
    autoHideMsg
    [show]="showRemoveMsg"
    [hideAfter]="3000"
  >
    {{ removedMessage }}
    <button mat-icon-button (click)="removedMessage = ''">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  }

  <ul>
    @for (item of data$ | async; track item){
    <li class="list-item">
      <a [routerLink]="['/details', item]">{{ item }}</a> &nbsp;
      <button mat-raised-button color="warn" (click)="removeItem(item)">
        <mat-icon>delete</mat-icon> Remove
      </button>
    </li>
    }
  </ul>
</div>
